<title>Add Brand</title>

<h1>Add Shoe Brand.</h1>

<form action="/brands/add-brand" method="post" id="brand-form">
    <label for="brand_name">Enter the name of the Brand:</label>
    <input type="text" name="brand_name" placeholder="e.g. Nike">
    <button type="submit">Add Brand</button>
</form>
