<ul>
    <li>
        Are you sure you want to delete this?
    </li>
</ul>
<form action="/delete-brand" id="del-brand" method="post">

    <button name="submit" class="btn-primary">Delete</button>

</form>