<title>Delete Brand</title>

<head>
    <link rel="stylesheet" href="/assets/css/shoelib.css">
</head>

<ul class="styled-list">
    <li>
        Are you sure you want to delete the <%= bd.brandName %> brand?
    </li>
</ul>
<a href="#yes" class="mv-left delete" data-doc="<%= id %>"><button type="button" class="btn btn-danger rounded-5">Yes</button></a> - <a href="#no" class="cancel"><button type="button" class="rounded-5 btn btn-primary">No</button></a>

<script>
    
    const trashCan = document.querySelector('a.delete');
    const takeMeBack = document.querySelector('a.cancel');

    trashCan.addEventListener('click', (e) => {
        e.preventDefault();
        const endPoint = `/delete-brand/${trashCan.dataset.doc}`;

        fetch(endPoint, {
            method: 'DELETE'
        })
        .then(() => window.location.href = '/brands')
        .catch((err) => { console.log(err) });
    });

    takeMeBack.addEventListener('click', (e) => {
        const endPoint = '/brands';

        fetch(endPoint, {
            method: 'GET'
         })
        .then(() => window.location.href = '/brands')
        .catch((err) => { console.log(err) });
    });

</script>