<title>Edit Brand</title>

<form action="/edit-brand" id="ed-brand" method="post">
    
    <label for="brand-edit">Edit Brand:</label>
    <input type="text" name="brand-edit">
    <button name="submit" class="btn btn-primary">Save Changes</button>

</form>