<title>Shoe Library</title>
<body>
    <%- include ('./partials/base.ejs') %>
    <h1>Welcome to the Shoe File Management System</h1>
    <p>Here you can save all your Shoes and Brands</p>

    <ul>
        <li>
            <a href="/brands">Brands</a>
        </li>
    </ul>
</body>

