<title>Shoes</title>

<h1>Shoe: </h1>

Available Shoes:
    <ul>
        <li>
             - <a href="">Edit</a>
        </li>
    </ul>

    <ul>
        <li>
            You don't have any shoe for display. 
        </li>
    </ul>

<a href="/add-shoe/:id">Add Shoe</a>
